<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>File processor</title>
</head>
<body>
	<form  action="/upload" method="post" enctype="multipart/form-data">
		<label for="imageselect">Yo, select your image</label><br>
		<input type="file" name="imageselect" id="imageselect" /><br>
		<label for="audioselect">Yo, select your audio</label><br>
		<input type="file" name="audioselect" id="audioselect" /><br>
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>